/* High Level Arch */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 11px;
	background-image: url("assets/background.png");
}
h1 {
	font-weight: bold;
	font-size: 16px;
	color: #66ccff;
}

h2 {
	font-weight: bold;
	font-size: 14px;
	color: #66ccff;
}

div#wrapper {
    /* background-color: blue; */ 
    width: 968px;
    margin: 0 auto;
}

div#header {
    width: 968px;
    height: 70px;
	padding-top: 36px;
	/* background-color: green; */
  	background-image: url("assets/background-top-slice.png");
}

div#content {
    width: 968px;
    min-height: 300px; /* works well with overflow: hidden */
	overflow: hidden; /* dynamic height */
    /* background-color: red; */
	background-image: url("assets/background-middle-slice.png");
}

div#footer {
   width: 968px;
   height: 50px;
   /* background-color: purple; */        
}

/* Header */
div#logo {
	width: 256px;
	height: 70px;
	padding-left: 36px;
	float: left;
}

div#navbar {
	width: 612px;
	height: 70px;
	float: right;
	padding-right: 36px;
	/* background-color: purple; */
}

/* Navigation links */
div#navbar ul {
	width: 612px;
	height: 42px;
	padding: 0px;
	margin: 0px;
}

div#navbar ul li {
	height: 42px;
	float: left;
	list-style-type: none;
	overflow: hidden;
}

div#navbar ul li a {
	display: block;
}

div#navbar ul li a > div:hover {
    margin-top: -42px;
}

div#navbar ul li a div img {
	display: block;
	border: 0;
}

div#date {
	width: 612px;
	height: 28px;
	font-size: 12px;
	color: orange;
}

/* Content */
div#sidebar {
    width: 256px;
	overflow: hidden; /* dynamic height */
	padding-left: 36px;
	padding-top: 60px;
    float: left;
    /* background-color: #faa; */
}

div#sidebar div {
	/* background-color: yellow; */
}

div#sidebar div li {
	list-style-type: square;
}

div#main-content {
    width: 612px;
	overflow: hidden; /* dynamic height */
	padding-right: 36px;
    float: right;
    /* background-color: gray; */
}

/* Footer */
div#footer-content {
    width: 968px;
    height: 30px;
    /* background-color: yellow; */
	background-image: url('assets/background-middle-slice.png');
}

div#footer-main-content {
    width: 608px;
	height: 19px;
	margin-right: 36px;
    float: right;
    text-align: center;
	background-image: url('assets/footer/background.png');
}

div#bottom-slice {
    width: 968px;
    height: 20px;    
    background-image: url('assets/background-bottom-slice.png');
}